* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 70%;
  margin: 10px auto;
}

.background {
  width: 100%;
  height: 90dvh;
  background-color: wheat;
  background-image:
    url(https://i.pinimg.com/736x/1a/5d/8c/1a5d8c05200b6f1d9a56d8133b09923f.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  background-color: transparent;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  display: flex;
}

.image {
  background-color: transparent;
  width: 50%;
  height: 100%;
  border: 3px solid rgba(255, 255, 255, 0.95);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;

}

.tex-img {
  height: 100%;
  padding: 1em;
  border: solid 3px rgba(255, 255, 255, 0.95);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.tex-img p:last-child {
  width: 1.5em;
}

.form {
  background-color: rgba(255, 255, 255, 0.95);
  width: 50%;
  height: 100%;
  padding: 25px;
  padding-left: 8%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.head-form {
  display: flex;
  justify-content: center;
}

.head-form img {
  width: 5%;
  height: auto;
}

.head-form h3 {
  font-size: .7em;
}

.formulario {
  width: 90%;
  height: 60%;
}

.formulario h4 {
  font-size: 1.1em;
  text-align: center;
}

.formulario p {
  text-align: center;
  font-size: .5em;
  margin-top: .3em;
  margin-bottom: .7em;
}

input {
  width: 95%;
  background-color: #ccc;
  margin-left: 5px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  margin: .3em;
  font-size: 1em;
  color: #373b47;
}

input::placeholder {
  font-size: .8em;
}

label {
  font-size: .7em;
}

.remember {
  width: 90%;
  margin-left: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .6em;
}

.check {
  display: flex;
  align-items: center;
}

.check input {
  order: -1;
  width: 15%;
}

.check label {
  font-size: .5em;
}

a {
  text-decoration: none;
  color: #373b47;
  font-weight: bold;


}

button {
  width: 95%;
  background-color: #373b47;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: .7em;
  color: #ccc;
}

button:hover {
  cursor: pointer;
}

.foot {
  font-size: .7em;
  text-align: center;
}